@import "reset.css";

/* screen */
@import "css/lotto.css";

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #990011;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 50vh;
  background-color: #fcf6f5;
  border-radius: 10px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  padding: 20px;
}

.homeLink {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  align-items: center;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  font-size: 16px;
  font-weight: 800;
  transition: all 0.4s;
}

.homeLink:hover {
  background-color: #990011;
  color: #fcf6f5;
  box-shadow: none;
}

.ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #990011;
}
